<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Classificatore Multi Classe Considi</div>
    <div class='left'>
    <p>
      Il classificatore riconosce se l'immagine appartiene alle seguenti classi:
    </p>
    <ul style="list-style-type:circle;">
        <li>2 fori vuoti, stampa corretta</li>
        <li>due fori occlusi, scritta sbagliata</li>
        <li>due fori occlusi, stampa corretta</li>
        <li>due fori vuoti, stampa sbagliata</li>
        <li>foro dx vuoto, scritta giusta</li>
        <li>foro dx vuoto, scritta sbagliata</li>
        <li>foro sx fuori camera, scritta giusta</li>
        <li>foro sx vuoto, scritta giusta</li>
        <li>foro sx vuoto, scritta sbagliata</li>
        <li>no plexiglass</li>
        <li>plexiglass al contrario</li>
    </ul>
    </div>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Seleziona l'immagine</button>
      <div class='upload-label'>
        <label id='upload-label'>Nessun file selezionato</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analizza</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
